.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

nav{
    height: 90px;
    background-color: #000;

}

.nav-brand{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.borderGreen{
    border: 4px solid green;
    background-color: #00000025;
  
}

.card-main{

}

.img-card{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 8/12;
}

.titlecard{
    width: 100%;
    overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.dialog-cart{
    width: 400px;
}

dialog::backdrop{
    background-color: #0000006c;
}

.close-dialog{
    font-size: 10px;
    padding: 3px 8px;

}

.close-dialog:hover{
    cursor: pointer;
}

.titleBookToCart{
    font-size: 15px;
    font-weight: bold;
}

.priceBookToCart, .asinBookToCart{
    font-size: 12px;
}