/*_____________GENERAL______________*/
.wrapperPage {
}

/*NAVBAR*/
.navbar {
  height: 100px;
  width: 100%;
  background-color: orange;
  position: fixed;
  top: 0;
  z-index: 10;
}
#navbarNav ul li:nth-child(1) {
  font-weight: 600;
}
.image-navbar {
  height: 80px;
}

/*FOOTER*/
footer {
  background-color: orange;
  min-height: 40px;
  margin-top: 60px;
  bottom: 0;
  padding: 6px;
  position: fixed;
}
.navbar-collapse.show {
  background-color: orange;
  padding: 10px;
}


/*__________________MAIN_______________________*/

/*swiper*/
.swiper {
  margin-top: 100px;
  width: 100%;
  height: 400px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-btn {
  color: black;
  width: 10px;
}
.container-cards{
  margin-bottom: 200px;
}
/*CARD MAIN PAGE*/
.card-main{
  min-height: 450px;
  box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.352);
   transition: all 0.3s ease-in-out;

}
.card-main:hover{
   transform: scale(1.1);
}
.card-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.card-detail{
  color: black;
  text-decoration: none;
}
.card-detail:hover{
color: orangered;

}

/*________________DETAIL__________________*/
.container-detail {
  margin-top: 150px;
}
.container-detail-product{
  margin-bottom: 100px;
}
/*CARD detail page*/
.container_detail_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.image-detail {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}



/*_____________________BACKOFFICE____________________*/
form button {
  height: 50px;
  width: 200px;
}
main {
  margin-top: 120px;
  margin-bottom: 50px;
}


.btn-add, .btn-remove{
  height: 60px;
}